<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side dev -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.jpg" alt="thapa" class="img-fluid" title="sahil">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <p>Welcome to Sahil World</p>
                        <h1>I Am A <span class="text-clr"> MERN Stack Developer</span> aka LazyCoder</h1>
                        <a href="/weather"> <button>About me </button></a>
                    </div>

                      <!-- right side dev -->                  
                      
                    
                      </div>
                    </div>  


                </div>
            </div> 
        </div>
    </div>          
    <!-- footer code -->
     {{>footer}}
</body>
</html>